@charset "UTF8";
body {
    background-color: rgb(70, 142, 236);
    font: normal 15px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10PX;
    padding: 15PX;
    width: 500px;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}